<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <title> ConnectJob - Home </title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-light">
      <div class="container-fluid bg-nav box">
        <a class="navbar-brand" href="#"><img class="img-fluid st teste-img" th:src="@{/img/2.png}" alt="logo do projeto"
            width="150" height="100"></a>
        <button class="navbar-toggler bg-light text-success" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav m-auto me-3 mb-2 mb-lg-0 fs-5 gap-4  ">
            <li class="nav-item">
              <a class="nav-link active t " href="homeEmpresa.html">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link t" href="empregoEmpresa.html"> Vagas </a>
            </li>

            <li class="nav-item">
              <a class="nav-link t" href="ContatosEmpresa.html"> Contatos </a>
            </li>
          </ul>
          <div class="d-flex">
            <a href="CadastroVagas.html" class="btn btn-light btn-outline-success rounded-pill"> Cadastrar vaga </a>
          </div>
        </div>
      </div>
      </div>
    </nav>
  </header>

  <main>

    <div class="mt-5 mb-5 container">
        <h1 class="text-center text-success"> Faça o cadastro da sua vaga</h1>
    </div>

<div class="container"> 
    <form class="row g-3" th:action="@{/vaga/cadastrarvaga}" th:object="${vaga}" method="post">
        <div class="col-md-6">
          <label for="inputNomeEmpresa" class="form-label">Nome da Empresa</label>
          <input type="number" class="form-control" id="inputNomeEmpresa" th:field="*{idEmpresa}">
        </div>
        <div class="col-md-6">
          <label for="inputNomevaga" class="form-label">Título da Vaga</label>
          <input type="text" class="form-control" id="inputNomeVaga" th:field="*{titulo}">
        </div>
       
        <div class="col-12">
            <label for="Descricao" class="form-label">Descrição da Vaga</label>
            <textarea class="form-control" id="DescricaoDaVaga" rows="3" th:field="*{descricao}"></textarea>
          </div>
        <div class="col-md-6">
          <label for="inputModalidade" class="form-label">Modalidade da vaga</label>
          <select id="inputModalidade" class="form-select">
            <option selected>Home office</option>
            <option>Presencial</option>
            <option>Híbrido</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputNivel" class="form-label">Nível da Vaga</label>
          <select id="inputNivel" class="form-select">
            <option selected>Estágio</option>
            <option>Júnior</option>
            <option>Trainner</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputLocal" class="form-label">Salário</label>
          <select id="inputLocal" class="form-select">
            <option selected> $1000 a $2000</option>
            <option>$2000 a $3000</option>
            <option>$3000 a $4000</option>
            <option>$4000 a $5000</option>
            <option> A combinar</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputContrato" class="form-label">Tipo de Contrato</label>
          <select id="inputContrato" class="form-select">
            <option selected>CLT</option>
            <option>PJ</option>
            <option>Estágio</option>
          </select>
        </div>

        <div class="col-12 mt-4 text-center">
          <button type="submit" class="btn btn-success">Cadastrar </button>
        </div>
      </form>
    </div>
  </main>
  
  <footer id="footer" class="mt-5">

    <div class="container-fluid row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
        <div class="col" id="contact-info">
            <div class="footer-brand">
                <img id="logoRodape" th:src="@{/img/logofooter.png}" alt="conectjob" class="img-fluid h-50">
                <hr>
            </div>
            <p><i class="bi bi-geo-alt"></i> Praça Senador Salgado Filho, s/n° – Rio de Janeiro – RJ </p>
            <p><i class="bi bi-telephone"></i>(99)9999-9999</p>
            <p><i class="bi bi-envelope"></i>recodeprosquad12@gmail.com</p>
        </div>
        <div class="col">
            <h4 class="mt-4 text-center">Outros serviços</h4>
            <nav>
                <a href="#">Propriedade intelecutal</a>
                <hr>
                <a href="#">LGPD</a>
                <hr>
                <a href="#">Direito internacional</a>
            </nav>
        </div>
        <div class="col">
            <div class="social-networks">
                <h4 class="mt-4 text-center">Siga-nos</h4>
                <div class="networks">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="https://github.com/Squad12Rcd" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
        <p class="container text-center mt-5"><i class="bi bi-c-circle"></i> ConnectJob - Todos os direitos
            reservados
        </p>
    </div>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>