<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ConnectJob - Home </title>
  <link rel="stylesheet" href="Empresa.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-light">
      <div class="container-fluid bg-nav box">
        <a class="navbar-brand" href="#"><img class="img-fluid st teste-img" src="Imagens/Logo.png" alt="logo do projeto"
            width="150" height="100"></a>
        <button class="navbar-toggler bg-light text-success" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav m-auto me-3 mb-2 mb-lg-0 fs-5 gap-4  ">
            <li class="nav-item">
              <a class="nav-link active t " href="">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link t" href="#carreiras"> Vaga </a>
            </li>
            <li class="nav-item">
              <a class="nav-link t" href="#contatos"> Contatos </a>
            </li>
          </ul>
          <div class="d-flex">
            <a href="CadastroVagas.html" class="btn btn-light btn-outline-success rounded-pill"> Cadastrar vaga </a>
          </div>
        </div>
      </div>
      </div>
    </nav>
  </header>

  <main>

    <div class="container">
  <h1 class=" text-center text-success mt-5"> Seja bem-vindo, Santander</h1>
  <h3 class="text-center"> Suas Vagas</h3>
    </div>

</section>
<section class="d-flex row row-cols-md-2 row-cols-sm-1 p-3 " id="vagas">
<div class="col-sm col-md">
    <div class="box-vagas shadow">
        <p class="fs-4 md-5 fw-bolder">Angular Developer TC Engenharia - São Paulo</p>
        <p>
            10 Vagas disponiveis! <br>
            Requisitos: <br>
            - Mais de 5 anos de experiência trabalhando como desenvolvedor. <br>
            - 2+ anos de experiência em Angular 2+. <br>
            - Experiência em desenvolvimento de aplicações utilizando pilha de tecnologia Angular/Java. <br>
            - Sólida experiência com HTML, CSS e escrita de código compatível com vários navegadores.<br>
            - Forte conhecimento de técnicas de manipulação de Dom AJAX e JavaScript.<br>
            - Experiência com MSSQL e/ou PostgreSQL<br>
            - Experiência com React é um diferencial.<br>
            - Nível avançado de inglês.<br>
        </p>
        <button type="button" class="btn btn-success btn-sm">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button> 
        
    </div>
</div>
<div class="col-sm col-md">
    <div class="box-vagas shadow">
        <p class="fs-4 fw-bolder">Estagio Boticario - Rio de Janeiro (Hibrido)</p>
           10 Vagas disponiveis! <br>
            Requisitos: <br>
            - Mais de 5 anos de experiência trabalhando como desenvolvedor. <br>
            - 2+ anos de experiência em Angular 2+. <br>
            - Experiência em desenvolvimento de aplicações utilizando pilha de tecnologia Angular/Java. <br>
            - Sólida experiência com HTML, CSS e escrita de código compatível com vários navegadores.<br>
            - Forte conhecimento de técnicas de manipulação de Dom AJAX e JavaScript.<br>
            - Experiência com MSSQL e/ou PostgreSQL<br>
            - Experiência com React é um diferencial.<br>
            - Nível avançado de inglês.<br>
        </p>
        
        <button type="button" class="btn btn-success btn-sm">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button> 

</section>



</main>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>