<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> Listagem de Usuarios </title>
</head>
<body>
	<div>
			<h1>teste read</h1>
			<table>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.nome}"></td>
					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.cpf}"></td>
					<td th:text="${usuario.senha}"></td>
					<td>
				<a th:href="@{/usuario/editar/{id}(id=${usuario.id})}"> Editar </a>
				<a th:href="@{/usuario/deletar/{id}(id=${usuario.id})}"> Excluir </a>
			</td>
				</tr>
			</table>
			<table>
				<tr th:each="empresa : ${empresas}">
					<td th:text="${empresa.id}"></td>
					<td th:text="${empresa.nome}"></td>
					<td th:text="${empresa.email}"></td>
					<td th:text="${empresa.cnpj}"></td>
					<td th:text="${empresa.senha}"></td>
					<td>
				<a th:href="@{/empresa/editar/{id}(id=${empresa.id})}"> Editar </a>
				<a th:href="@{/empresa/deletar/{id}(id=${empresa.id})}"> Excluir </a>
			</td>
				</tr>
			</table>
		</div>
		<script src="../../resources/static/css/style.css"></script>
</body>
</html>