@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Moon+Dance&display=swap');

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;

} 

:root {
    --main-color: #35ad25;
    --primary-text-color: #35ad25;
    --secondary-text-color: #5bce6a;
    --secondary-color: #35ad25;
    --tertiary-color: #35ad25;
}

.box {
    border-bottom: solid green 2px;
}

.t:hover {

    color: #67bc48 !important;

}

/* BOTÕES */  

#btn-cadastro2 {
    display: block;
}

/* CARDS */ 

#cards-group img {
    width: 30%;
}

#cards-group .card-box {
    width: 95%;
    height: 53vh;
    margin: auto;
    box-shadow: 10px 10px 5px 0px rgba(113, 227, 97, 1);
    border-radius: 0px 80px 0px 0px;
}

/* SEÇÃO QUEM SOMOS */

.slideshow-container {

    position: relative;
    margin: auto;
  }


/* FORMULÁRIO */

.focus-ring {
    --bs-focus-ring-color: #4acc2a;
}


/* RODAPÉ */

#footer {
    color: #55da48;
    background-color: #2B332C;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 3rem 5rem;
    
}

#footer a {
    color: var(--primary-text-color);
    text-decoration: none;
}

#logoRodape {
    width: 50%;
    height: 150px;
}

.networks {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* FIM RODAPÉ */


/* HOME LOGADO */

#dados-aluno {
    margin: auto;
}

#painel-vagas a {
    margin: auto;
}


.box {
    border-bottom: solid green 2px  ;
}


.t:hover {

    color: #67bc48 !important ;

}

#foto-perfil {
    width: 30vh;
}


li {
    list-style-type: none;
}

/* FIM HOME LOGADO */

/* EMPREGO */


#busca-vagas {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


#busca-vagas select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}


.box-vagas {    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);    
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    color: #666;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

article p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}

/* FIM EMPREGO */

/* CURSOS */

.border-card {
    border: solid 1px #35ad25 !important;
    box-shadow: 10px 5px 5px #115e34;
}

.box {
    border-bottom: solid green 2px  ;
}

.t:hover {

    color: #67bc48 !important ;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(23, 100, 13,0.753);
  }

/* FIM CURSOS */